:root {
  font-family: "Chakra Petch", sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 16px;

  color-scheme: light dark;
  color: rgba(0, 0, 0, 0.87);
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  max-width: 1440px;
  margin: 0 auto;
}

* {
  padding: 0;
  margin: 0;
}

body {
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-family: "Silkscreen", sans-serif;
  font-size: 4rem;
  line-height: 1.1;
  margin: 0;
  padding: 1rem;
}

h3 {
  padding: 1rem;
}

input,
select {
  padding: 0.25rem;
  border-radius: 0.25rem;
  border: none;
  transition: transform 0.2s ease-in, box-shadow 0.1s ease-in;
}

input:focus,
select:focus {
  transform: scale(1.1);
  outline: none;
  box-shadow: 0px 0px 11px 1px rgba(19, 19, 19, 0.559);
}

button {
  border-radius: 8px;
  border: none;
  padding: 0.6rem 1.2rem;
  font-size: 1rem;
  font-weight: 500;
  font-family: inherit;
  background-color: rgb(48, 48, 255);
  color: white;
  cursor: pointer;
  transition: transform 0.2s ease-in, box-shadow 0.1s ease-in;
}
button:hover,
button:focus {
  transform: scale(1.1);
  background-color: rgb(87, 87, 249);
  box-shadow: 0px 0px 7px 0px rgba(19, 19, 19, 0.559);
}

button:active {
  background-color: rgb(40, 40, 187);
  box-shadow: inset 0px 0px 6px 4px rgba(19, 19, 19, 0.559);
}

.title {
  background-color: rgb(48, 48, 255);
  color: white;
  text-align: center;
  position: relative;
  z-index: 1;
}

.top-total {
  position: sticky;
  background-color: rgb(48, 48, 255);
  color: white;
  box-shadow: 0px 9px 9px 0px rgba(19, 19, 19, 0.559);
  text-align: center;
  top: 0%;
}

section {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  padding: 2rem 0;
  align-items: center;
}

.form-holder {
  /* display: inline-flex; */
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 1rem;
  margin: 1.2rem;
  justify-content: center;
  flex-wrap: wrap;
  gap: 3.25rem;
  background-color: #e4e4e7;
  border-radius: 0.75rem;
  flex-shrink: 0;
  box-shadow: 0px 0px 7px 0px rgba(19, 19, 19, 0.559);
}

form {
  display: flex;
  flex-direction: column;
  gap: 1.1rem;
}

.totals-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.input-container {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.btn-container {
  display: flex;
  gap: 1rem;
}
